<!-- ./views/show.handlebars -->
<div class="container py-5">
  <div class="text-center">
    <h1 class="mb-4">{{restaurant.name}}</h1>
    <p class="mb-1">
      <span class="text-secondary">
        <i class="fas fa-utensils pr-2"></i>
        類別：
      </span>
      {{restaurant.category}}
    </p>
    <p class="mb-1">
      <span class="text-secondary">
        <i class="fas fa-utensils pr-2"></i>
        地址：
      </span>
      {{restaurant.location}}
    </p>
    <p class="mb-1">
      <span class="text-secondary">
        <i class="fas fa-utensils pr-2"></i>
        電話：
      </span>
      {{restaurant.phone}}
    </p>
    <p class="mb-5">{{restaurant.description}}</p>


    <img class="rounded mb-4" src="{{restaurant.image}}" alt="Card image cap" style="max-height: 300px;">
  </div>
  <div class="row">
  </div>
</div>